*{
    outline: 0.5px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
}

header main {
    flex: 1 0 auto;
}

main{
    section{
        margin: 20px 0;
    }
}

footer {
    flex: 0 0 auto;
    position: fixed;
    min-height: 50px;
    width: 100%;
    bottom: 0;
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

p{

}

ul{
    
}