* {
    outline: 0.1vh solid rgba(255, 0, 0, 0.07);
}

main {
    flex: 1 0 auto;

    section {
        margin: 20px 0;
    }
}

footer {
    flex: 0 0 auto;
    position: fixed;
    min-height: 50px;
    width: 100%;
    bottom: 0;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

p {}

ul {}