<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Page</title>
  <meta name="description" content="описание не длиннее 155 символов">
  <meta name="keywords" content="мета-теги, шаблон, html, css">
  <!-- Контролирует поведение поисковых систем при индексации страницы -->
  <meta name="robots" content="index,follow,noodp"><!-- Все поисковые системы -->
  <meta name="googlebot" content="index,follow"><!-- Указание отдельно для Google -->
  <!-- картинка не меньше 280х150, не более 1Мб -->
  <meta name="twitter:image" content="http://localhost.my/img/tw_cover.jpg">
  <!-- Фавиконы и иконки сайта -->
  <link rel="icon" href="../images/favicon/cropped-favicon.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#4285f4">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#4285f4">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Яндекс.Браузер -->
  <meta name="viewport" content="ya-title=#4e69a2,ya-dock=fade">
  <!-- стили -->
  <link rel="stylesheet" href="../styles/main.css" />
</head>

<body class="wrapper">


  <div id="header"></div>

  <main>
    <!-- ======================================================================== -->
    <!-- content -->



    <section class="wrap">
      <div class="section-body">
        <h2>H2 TITLE SECTION</h2>
      </div>
    </section>



    <!-- content end -->
    <!-- ======================================================================== -->
  </main>

  <div id="footer"></div>



  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="../scripts/main.js"></script>

</body>

</html>