<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="manifest" href="site.webmanifest">
<!-- favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="icon.png">

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../favicon.ico">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#fff">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#fff">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#fff">